extends layout
block content
    link(rel='stylesheet', href='/css/main.min.css')
    .container
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href='#') Example
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a Link 1
                        li
                            a Link 3
                    ul.nav.navbar-nav.pull-right
                        li
                            a.user.navbar-nav.pull-right(href='#') Options

        .main-container.col-xs-offset-3.col-lg-offset-3.col-xs-6.col-lg-6
            .row
                .title Example
