doctype html
html
  head
    title= title
    script(src='/bower_components/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  body
    block content
